<div class="header">
  <div class="header__logo">FitnessJudge 管理画面</div>

  <%= link_to backend_root_path, data: { comfirm: "ログアウトしますか？" } do %>
    <i class="fas fa-sign-out-alt"></i>
  <% end %>
</div>
