<ul>
  <li>
    <%= link_to backend_root_path do %>
      <i class="fab fa-twitter"></i>テスト１
    <% end %>
  </li>
  <li>
    <%= link_to backend_root_path do %>
      <i class="fab fa-twitter"></i>テスト２
    <% end %>
  </li>
  <li>
    <%= link_to backend_root_path do %>
      <i class="fab fa-twitter"></i>テスト３
    <% end %>
  </li>
</ul>
