@charset "utf-8";

$color-white: #fff;
$color-main: #f6ad3a;
$color-sub: #f5d198;
$color-sub2: #f15f85;
$color-text-main: #333;
$color-text-sub: #666;
$color-grey1: #ccc;
$color-grey2: #eee;
$color-grey3: #f9f9f9;
$color-grey4: #f5f5f5;
$color-link: #2fa4e7;
$color-focus-bg: #fffdef;
$color-em: #a00;
$color-btn-bg: #4666b3;
$color-going: #1492f3;
$color-going-bg: #eaf5ff;
$color-leave: #ff9046;
$color-leave-bg: #fff2e9;
$color-break: #00d180;
$color-break-bg: #e0fbf0;
$color-return: #33b0c7;
$color-return-bg: #d9f2f7;
