<div class="header">
  <div class="header__logo">審査in</div>

  <div class="drawer-menu">
    <input type="checkbox" id="navTgl">
    <label for="navTgl" class="open"><span></span></label>
    <label for="navTgl" class="close"></label>

    <%= render "layouts/frontend/drawer_menu" %>
  </div>
</div>
