.header {
  color: $color-link;
  height: 65px;
  display: flex;
  align-items: center;
  &__logo {
    margin-left: 30px;
    width: 180px;
    height: auto;
  }
  @media (max-width: 600px) {
    height: 55px;
    &__switch-link {
      font-size: 10px;
      word-wrap: break-word;
    }
    &__logo {
      width: 120px;
    }
  }
}
