.header {
  color: #000;
  height: 65px;
  display: flex;
  align-items: center;
  &__logo {
    margin-left: 30px;
    width: 180px;
    height: auto;
  }

  a {
    margin-left: 80%;
    text-decoration: none;
    color: #000;

    i {
      font-size: 25px;

      &:hover {
        color: #777777;
      }
    }
  }

  @media (max-width: 600px) {
    height: 55px;
    &__switch-link {
      font-size: 10px;
      word-wrap: break-word;
    }
    &__logo {
      width: 120px;
    }
  }
}
