.backend-login-layout {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  &__body {
    width: 400px;
  }
}

.backend-layout {
  box-sizing: border-box;

  &__header {
    margin: auto;
    height: 65px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #EEEEEE;
    z-index: 10;
    border-bottom: 1px solid #d7bb00;
    @media (max-width: 600px) {
      height: 55px;
    }
  }
  &__aside {
    top: 65px;
    left: 0;
    height: 100%;
    float: left;
    width: 170px;
    position: fixed;
    background-color: #EEEEEE;
    z-index: 5;
    box-shadow: inset -1px 0 0 #d7bb00;
    overflow: hidden;
    overflow-y: scroll;
    @media (max-width: 600px) {
      top: 55px;
    }
  }
  &__body {
    margin-top: 66px;
    margin-left: 171px;
    padding-left: 15px;
    width: 87%;
    float: left;
    z-index: 5;
    @media (max-width: 600px) {
      margin-top: 55px;
    }
  }
}
